# Built application files
*.apk
*.ap_

# Android Studio
*.iml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea


# Gradle
.gradle/
/build

# Others
/local.properties
.DS_Store
/captures
.externalNativeBuild
*.log


